<h1>Welcome to the page of <%= @user.username %></h2>


Name:
<%= @user.name %>
</br>
Last Name:
<%= @user.last_name %>
</br>
Age:
<%= Date.today.year - @user.dob.year %>
</br>
Gender:
<%= @user.gender %>
</br>
weight:
<%= @user.weight %>kg
</br>
Height:
<%= @user.height %>ft
</br>  
BMI:
<%= @user.bmi %>
</br>
<% if @user.bmi <18.5 %>
  <p>you are underweight </p>
  <% elsif @user.bmi >=18.5 and @user.bmi <= 24.9 %>
  <p>you are healthy</p>
  <% else %>
  <p>you are overweight</p>
<% end %>
</br>
<%= link_to "edit" , edit_user_path(@user) %>
</br>
<%= link_to "Show Blood Sugar Records" , show_blood_sugar_url(:user_id => @user.id) %>
</br>
<%= link_to "New Blood Sugar Record" , new_blood_sugar_url(:user_id => @user.id) %>
</br>
<%= button_to "Logout",session_path, method: :delete %>


