<%= form_with model: @blood_sugar_detail, url: new_blood_sugar_url do |f| %>
  <div>
    <%= f.label :blood_sugar %>
    <%= f.number_field :blood_sugar, step: :any %>
  </div>
  <div>
    <%= f.label :blood_sugar_date %>
    <%= f.date_field :blood_sugar_date, class: 'form-control' %>
  </div>
  <%= f.submit %> 
<% end %>
